@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--background-light: rgb(158, 102, 37);
	--background-dark: rgb(122, 79, 29);
	--input-background: rgb(224, 196, 162);
	--background-success: green;
	--background-success-light: rgb(46, 131, 46);
	--color-success: rgb(153, 229, 153);
	--title-font-family: 'Cormorant Garamond', serif;
	--title-letter-spacing: 10px;
	--title-font-size: 25px;
	--btn-font-family: 'Poppins', sans-serif;
	--btn-border-radius: 20px;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--radius: 0.5rem;
	--border-color: var(--background-dark);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: gray;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	border: 0;
	font-size: 17px;
	border-radius: var(--btn-border-radius);
	font-family: var(--btn-font-family);
}

.chat-container {
	max-width: 1100px;
	margin: 30px auto;
	overflow: hidden;
	background: white;
}

.chat-header {
	background: var(--background-dark);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.chat-header > h1 {
	font-family: 'Cormorant Garamond', serif;
	letter-spacing: 10px;
	font-size: var(--title-font-size);
}

.chat-header > a {
	background: rgb(209, 153, 49);
	color: white;
}

.chat-header > a:hover,
.chat-header > a:focus {
	background: rgb(212, 173, 99);
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
	background: gray;
}

.chat-sidebar {
	background: linear-gradient(90deg, var(--background-dark), var(--background-light));
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	text-align: center;
	border: 1px solid rgb(175, 120, 19);
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
	font-weight: 300;
	letter-spacing: 1.5px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
	letter-spacing: 2px;
	font-weight: 400;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1.5px;
	margin-bottom: 7px;
}

.admin-bg {
	background: rgb(78, 77, 77);
}

.other-name {
	color: rgb(18, 224, 18);
}

.other-time {
	color: orange;
}

.sent-bg {
	background: rgb(54, 54, 146);
}

.sent-name {
	color:aqua;
}

.sent-time {
	color:chartreuse;
}

.received-bg {
	background: var(--background-dark);
}

.text {
	color: white;
}

.chat-form-container {
	padding: 20px 30px;
	background: linear-gradient(90deg, var(--background-dark), var(--background-light));
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	flex: 1;
	border-bottom-left-radius: var(--btn-border-radius);
	border-top-left-radius: var(--btn-border-radius);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-color: transparent;
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	background: var(--input-background);
	outline: none
}

.chat-form-container button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background: var(--background-success);
	color: white;
}

.chat-form-container button:hover, 
.chat-form-container button:focus {
	background: var(--background-success-light);
}

.join-main input[type='text'],
.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	border-radius: var(--radius);
	border: 2px solid transparent;
	background: var(--input-background);
	outline: none
}

.join-main input[type='text']:focus,
.join-main select:focus,
.chat-form-container input[type='text']:focus {
	background: white;
	border-color: var(--border-color);
}

.join-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.join-container > div {
	width: 100%;
	max-width: 500px;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--background-dark);
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
	font-family: 'Cormorant Garamond', serif;
	letter-spacing: 10px;
	font-size: var(--title-font-size);
}

.join-main {
	padding: 30px 40px;
	background: linear-gradient(180deg, var(--background-light), var(--input-background));
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
	font-size: 20px;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
	background: var(--background-success);
	color: white;
}

.join-main .btn:hover,
.join-main .btn:focus {
	background: var(--background-success-light);
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}